@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'arial-rounded-bold';
  src: url('./assets/fonts/ARLRDBD.TTF')
}
@font-face {
  font-family: 'gothic';
  src: url('./assets/fonts/GOTHIC.TTF');
}
@font-face {
  font-family: 'gothic-bold';
  src: url('./assets/fonts/GOTHICB.TTF');
}

html{
  background-color: #F8F7F7;
}
