@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'arial-rounded-bold';
  src: url('./assets/fonts/ARLRDBD.TTF')
}
@font-face {
  font-family: 'gothic';
  src: url('./assets/fonts/GOTHIC.TTF');
}
@font-face {
  font-family: 'gothic-bold';
  src: url('./assets/fonts/GOTHICB.TTF');
}

html{
  background-color: #F8F7F7;
}

.green-gradient{
background: rgb(23,166,56);
background: linear-gradient(99deg, rgba(23,166,56,1) 12%, rgba(239,214,0,1) 90%);
}
